<form action="/user/create" method="POST" id="sign-up-form" class="form-signin">
  <h2 class="form-signin-heading">Crear una cuenta</h2>

  <% if(flash && flash.err) { %>
  <ul class="alert alert-success">
    <% Object.keys(flash.err).forEach(function(error) { %>
    <li><%- JSON.stringify(flash.err[error]) %></li>
    <% }) %>
  </ul>
  <% } %>


  <div class="control-group">
    <input type="text" class="form-control" placeholder="Nombre y apellido" name="nombre">
  </div>

  <div class="control-group">
    <input type="text" class="form-control" placeholder="Domicilio" name="direccion">
  </div>

  <div class="control-group">
    <input type="text" class="form-control" placeholder="Direccion de Correo" name="correo">
  </div>

  <div class="control-group">
    <input type="password" class="form-control" placeholder="Contraseña" name="password" id="password">
  </div>

  <div class="control-group">
    <input type="password" class="form-control" placeholder="Verificacion de contraseña" name="confirmation">
    <br />
  </div>

  <input type="submit" class="btn btn-lg btn-primary btn-block" value="REGISTRARSE"/>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
